In [1]:
import nltk
import pandas as pd

In [2]:
#nltk.download()

In [3]:
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

In [4]:
train_data=pd.read_csv('H:\\Social Media Analytics\\nlp-getting-started\\train.csv')

In [5]:
train_data.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
id          7613 non-null int64
keyword     7552 non-null object
location    5080 non-null object
text        7613 non-null object
target      7613 non-null int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [7]:
train_data.describe(include='all')

,id,keyword,location,text,target
count,7613.000000,7552,5080,7613,7613.00000
unique,NaN,221,3341,7503,NaN
top,NaN,fatalities,USA,11-Year-Old Boy Charged With Manslaughter of T...,NaN
freq,NaN,45,104,10,NaN
mean,5441.934848,NaN,NaN,NaN,0.42966
std,3137.116090,NaN,NaN,NaN,0.49506
min,1.000000,NaN,NaN,NaN,0.00000
25%,2734.000000,NaN,NaN,NaN,0.00000
50%,5408.000000,NaN,NaN,NaN,0.00000
75%,8146.000000,NaN,NaN,NaN,1.00000
max,10873.000000,NaN,NaN,NaN,1.00000

In [8]:
train_data.columns

Index(['id', 'keyword', 'location', 'text', 'target'], dtype='object')

<h3>Data Cleaning</h3>

In [9]:
train_data=train_data.dropna(how='all')
#Dropping records having null across all the elements

In [10]:
any(train_data['id'].duplicated())

False

<h6>id:</h6>So here we can conclude that 'id' is just an unique number which gets assigned to every tweets in incrementel fashion and adds no information to the analysis.Dropping the id column from the dataset

<h6>Keyword:</h6> As the names denotes these are the crucial terms present in the tweets which are relating to disasters. Anyway the same information can be found even in tweets i.e, in text variable.

<h6>Location:</h6> It's just the location of the person who made the particular tweet. This information is taken from the person's profile. Location feature will not add any value as this was not the place,the tweet relates to. So we can even drop this feature.

<h6>text:</h6> This was tweet made by the individual. By analysing, we need to classify whether this tweet belongs to Real Disaster or not.

<h6>target:</h6>'0' denotes 'Not a Disaster' whereas
    1 denotes 'Disaster'

In [11]:
#From the above discussions, droping the features id,keyword,location as these do not add any information to the analysis

train_data=train_data.drop(columns=['id','keyword','location'])
train_data.head()

                                                text  target
0  Our Deeds are the Reason of this #earthquake M...       1
1             Forest fire near La Ronge Sask. Canada       1
2  All residents asked to 'shelter in place' are ...       1
3  13,000 people receive #wildfires evacuation or...       1
4  Just got sent this photo from Ruby #Alaska as ...       1

In [12]:
#Looking for any duplicate tweets
any(train_data['text'].duplicated())

True

In [13]:
#train_data[train_data['text'].duplicated()==True]

In [14]:
train_data.size

15226

In [15]:
train_data.drop_duplicates(subset=['text'], keep='first',inplace=True)

In [16]:
train_data.size

15006

We can notice that the duplicate records got deleted and the dataframe size got reduced to 15006 from 15226

In [17]:
any(train_data['text'].duplicated())
#checking for any duplicates are left or not

False

In [18]:
train_data.isnull().any()

text      False
target    False
dtype: bool

In [19]:
#train_data.head(35)

<p>    Most commonly, tweets will consists of some references to urls, emails and phone numbers. These emails or urls or phone number are very unique and provide no cummulative information, it is better to replace such with the words bringing the same meaning.</p>

In [20]:
train_data.replace(regex=True,inplace=True,to_replace=r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\), ]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',value=r'url')

In [21]:
train_data.replace(regex=True,inplace=True,to_replace=r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$',value=r'email')

In [22]:
train_data.replace(regex=True,inplace=True,to_replace=r'^(\d{10})(?:\s|$)', value='phone_number')

In [23]:
#train_data[train_data['text'].str.contains('url')]

In [25]:
train_data['lowercase_tweet']=train_data['text'].apply(lambda x: " ".join(word.lower()  for word in x.split()))

In [26]:
train_data['lowercase_tweet'].head()

0    our deeds are the reason of this #earthquake m...
1               forest fire near la ronge sask. canada
2    all residents asked to 'shelter in place' are ...
3    13,000 people receive #wildfires evacuation or...
4    just got sent this photo from ruby #alaska as ...
Name: lowercase_tweet, dtype: object

In [27]:
#train_data['lowercase_tweet'].str.replace('[^\w\s]','',inplace=True)

In [28]:
train_data['lowercase_tweet'].replace(regex=True,to_replace=r'[^\w\s]' , value='', inplace=True)

In [29]:
train_data['lowercase_tweet'].head()

0    our deeds are the reason of this earthquake ma...
1                forest fire near la ronge sask canada
2    all residents asked to shelter in place are be...
3    13000 people receive wildfires evacuation orde...
4    just got sent this photo from ruby alaska as s...
Name: lowercase_tweet, dtype: object

Mostly on social media platforms, people make copied posts or copied tweets, to grab the attention of the audience and make themselves famous.Earlier when we tried removing the duplicates we are able to eliminate few, but few more were left, as they have unique string references like url addresses or phone numbers or email id's. As we now completely replaced these kind of references with the related words  like url,email and phone_number, we need to again filter the data by removing the duplicates.

In [ ]:
train_data['lowercase_tweet'].size

In [49]:
train_data.drop_duplicates(subset=['lowercase_tweet'],keep= 'first', inplace=True)

In [50]:
train_data['lowercase_tweet'].size

6857

In [ ]:
From ablove we can observe that more than 50% of the twets are duplicate and are conveying the same message.

In [31]:
from nltk.corpus import stopwords

In [92]:
stopwords_list=set(stopwords.words('english'))

In [93]:
stopwords_list

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [94]:
len(stopwords_list)

179

In [42]:
train_data['removing_stopwords']=train_data['lowercase_tweet'].apply(lambda x: ' '.join(word for word in x.split(' ') if word not in stopwords_list))

In [44]:
train_data.head()

,text,target,lowercase_tweet,removing_stopwords
0,Our Deeds are the Reason of this #earthquake M...,1,our deeds are the reason of this earthquake ma...,deeds reason earthquake may allah forgive us
1,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada,forest fire near la ronge sask canada
2,All residents asked to 'shelter in place' are ...,1,all residents asked to shelter in place are be...,residents asked shelter place notified officer...
3,"13,000 people receive #wildfires evacuation or...",1,13000 people receive wildfires evacuation orde...,13000 people receive wildfires evacuation orde...
4,Just got sent this photo from Ruby #Alaska as ...,1,just got sent this photo from ruby alaska as s...,got sent photo ruby alaska smoke wildfires pou...

In [46]:
from nltk.probability import FreqDist

In [91]:
pd.Series(' '.join(train_data['removing_stopwords']).split()).value_counts()

url                 2939
like                 335
im                   293
amp                  272
fire                 229
get                  202
dont                 191
one                  182
people               179
new                  176
2                    149
emergency            148
us                   146
news                 144
would                129
police               129
disaster             118
back                 115
got                  112
body                 112
storm                112
still                111
know                 110
burning              108
man                  107
day                  105
time                 104
cant                 102
see                  102
going                101
                    ...
cislady                1
redsox                 1
accuracy               1
contributions          1
sparxxx                1
waterboarding          1
cts                    1
receives               1
apologise              1
wayward                1
sexycumshots           1
surges                 1
dl                     1
entershikari           1
irwin                  1
ruling                 1
separate               1
connor                 1
urlroimentor           1
favoritism             1
wews                   1
nne                    1
hereticofethics        1
ariabrisard            1
exchanged              1
backroom               1
salyersblairhall       1
emilymcfcheslop        1
txt                    1
sweeps                 1
Length: 17824, dtype: int64

0    deeds reason earthquake may allah forgive us f...
dtype: object

In [65]:
FreqDist(words)

FreqDist({<generator object <genexpr> at 0x0000014A56FBA570>: 1})

In [47]:
FreqDist(train_data['removing_stopwords'])

FreqDist({'watch airport get swallowed sandstorm minute url': 24, 'url': 23, 'liked youtube video url': 22, 'wreckage conclusively confirmed mh370 malaysia pm investigators families url': 20, 'families sue legionnaires 40 families affected fatal outbreak legionnaires disea url': 19, 'hot funtenna hijacking computers send data sound waves black hat 2015 urlprebreak best': 17, 'christian attacked muslims temple mount waving israeli flag via pamela geller   url': 15, 'obama declares disaster typhoondevastated saipan obama signs disaster declaration northern marians url': 13, 'latest homes razed northern california wildfire  abc news url': 13, 'added video youtube playlist url': 12, ...})

In [ ]:
train_data['words']=''jh,bj

In [ ]:
for i in train_data['text'].index:
    train_data['words'].loc[i]=word_tokenize(train_data['text'].loc[i])

In [ ]:
train_data['words']

In [ ]:
train_data['words'].loc[1]

In [ ]:
train_data['words'].loc[1]=word_tokenize(train_data['text'].loc[1])

In [ ]:
train_data['words'][1]